$blue: blue;
$white: white;
$black: black;
$green: green;
$grey: grey;
$red: red;

$base-font-size: 1rem;
$base-padding: 0.5em;
$base-margin: 0.5em;
$base-gap: 0.5rem;
$base-lh: 1.5;
$base-border-radius: 20px;
$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700
);
