@use "../abstracts/" as a;

.container {
  margin: auto;

  .grid__weight--card,
  .grid__height--card {
    position: relative;

    &::after,
    &::before {
      position: absolute;
      content: "";
      left: 0;
      block-size: 1px;
      inline-size: 100%;
      background-color: lighten(adjust-hue(a.$blue, 20deg), 45%);
    }

    &::before {
      top: 3rem;
    }

    &::after {
      bottom: 3.3rem;
    }
  }

  .heading {
    font-size: a.$base-font-size * 2.2;
    text-decoration: underline 3px solid currentColor;
    text-underline-offset: 3px;
    margin-block-end: a.$base-margin;
    text-align: center;
  }

  .subheading {
    font-size: a.$base-font-size * 1.6;
    color: adjust-hue(darken(a.$blue, 20%), 25deg);
  }

  .weight__label,
  .height__label {
    font-size: a.$base-font-size * 2.5;
    font-family: var(--font-stack-signika-negative);
    margin-block: a.$base-margin * 1.5;
  }
}
